/**/x64/**
/Network/Debug
/PingPong/Debug
/.vs
/PingPong/.vs/PingPong/v16
/**/Debug/**
/**/Release/**
/**/*.user
*.user
*.bak
*.out
/HDL/output_files
/HDL/incremental_db
/HDL/db
*.vcd
/HDL/source/testbench.v
/simulation
